<main role="main">

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3"> Search for your new home today... </h1>
            <p> find the perfect house in a few clicks. We have got you covered </p>
            <a href="<%= new_property_path %>" class="btn btn-primary">Add Property</a>

        </div>
    </div>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-4">
                <h2>Heading</h2>
                <p> Lovely 3-bedroom house in a great neighborhood! This charming home features a spacious living room with fireplace, a large kitchen with stainless steel appliances, and a master bedroom with its own private bathroom. </p>
                <p> <a class="btn btn-secondary" href="#" role="button"> View details </a> </p>
            </div>

            <div class="col-md-4">
            <h2>Heading</h2>
            <p> The backyard is perfect for entertaining, with a large patio and a built-in barbecue. This house is conveniently located near schools, parks, and shopping. Do not miss out on this great opportunity! </p>
            <p> <a class="btn btn-secondary" href="#" role="button"> View details </a> </p>
        </div>

        <div class="col-md-4">
        <h2>Heading</h2>
        <p>  This charming home has a spacious living room with fireplace, a large kitchen with stainless steel appliances, and a master bedroom . The backyard is perfect for entertaining, with a large patio and a built-in barbecue. </p>
        <p> <a class="btn btn-secondary" href="#" role="button"> View details </a> </p>
    </div>
        </div>

        <hr>
    </div>
</main>
